<h1>{{../helpers/title}} <small>{{./title}}</small></h1>
<h5>{{author}}</h5>


<p>{{body}}</p>
{{#each articles}} {{>article}} {{/each}}
<p class="logged-in-button" hidden>
<button type="button" class="logged-in-button btn btn-default edit-article-button crud-buttons" data-toggle="modal" data-target="#edit-article-modal" data-id="{{id}}">Edit</button>
<button type="button" class="logged-in-button btn btn-warning delete-article-button crud-buttons" data-toggle="modal" data-target="#delete-article-modal" data-id="{{id}}">Delete</button>
</p>
