<h1>{{../helpers/title}} <small>{{./title}}</small></h1>
<h5>{{author}}</h5>

<div>

<p>{{body}}</p>
{{#each articles}} {{>article}} {{/each}}



<button type="button" id="test" class="btn btn-default edit-article" data-toggle="modal" data-target="#edit-article-modal" data-id="{{id}}">Edit</button>
<button type="button" id="test" class="btn btn-warning delete-article" data-id="{{id}}">Delete</button>

</div>
